{% extends "base.html.jinja" %}
{% block content %}
<div class="wrap">
    <header>
        <h1>Neural Style Transfar</h1>
        <span class="header_span">for Deep Learuning</span>
    </header>
    <main>
        <div class="container">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <section class="content_image">
                        <legend>Content Image</legend>
                        <div id="file" class="input-group">
                            <div class="custom-file">
                                <input type="file" id="cutomfile" class="custom-file-input" name="file" />
                                <label class="custom-file-label" for="customfile" data-browse="参照">画像を選択してください</label>
                            </div>
                        </div>
                    </section>
                    <section class="style_image">
                        <legend>Style Image</legend>
                        <section>
                            <div class="form-check-right">
                                <input class="checkbox" type="checkbox" id="hosi" name="sele" value="hosi" checked>
                                <label class="form-check-label" for="pre">
                                  
                                </label>
                            </div>
                            <img class="img_margin"src="/examples/hosidukiya.jpg" style="height: 200px;">
                        </section>
                        <section>
                            <div class="form-check-right">
                                <input class="checkbox" type="checkbox" id="tane" name="sele" value="tane">
                                <label class="form-check-label" for="deferred">
                         
                                </label>
                            </div>
                            <img class="img_margin" src="/examples/tanewomakuhito.jpg" style="height: 200px;">
                        </section>
                        <section>
                            <div class="form-check-right">
                                <input class="checkbox" type="checkbox" id="nami" name="sele" value="nami">
                                <label class="form-check-label" for="deferred">
                                 
                                </label>
                            </div>
                            <img class="img_margin" src="/examples/nami.jpeg" style="height: 200px;">
                            </section>
                        </section>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">
                                        完了
                                    </button>
                                </div>
                </form>
            </div>
        </div>
        <script>
            $('.custom-file-input').on('change', handleFileSelect);

            function handleFileSelect(evt) {
                $('#preview').remove(); // 繰り返し実行時の処理
                $(this).parents('.input-group').after('<div id="preview" class="col-sm-2 offset-sm-2"></div>');

                var files = evt.target.files;

                for (var i = 0, f; f = files[i]; i++) {

                    var reader = new FileReader();

                    reader.onload = (function (theFile) {
                        return function (e) {
                            if (theFile.type.match('image.*')) {
                                var $html = [
                                    '<div class="d-inline-block mt-20"><img src="', e
                                    .target.result, '" title="', escape(theFile.name),
                                    '" style="height:200px;", /><div class="small text-muted text-center">',
                                    /* escape(theFile.name),*/
                                    '</div></div>'
                                ].join(''); // 画像では画像のプレビューとファイル名の表示
                            } else {
                                var $html = ['<div class="d-inline-block mr-1"><span class="small">',
                                    escape(
                                        theFile
                                        .name), '</span></div>'
                                ].join(''); //画像以外はファイル名のみの表示
                            }

                            $('#preview').append($html);
                        };
                    })(f);

                    reader.readAsDataURL(f);
                }
                $(this).next('ファイルを選択しました');
            }

            //ファイルの取消
            $('.reset').click(function () {
                $(this).parent().prev().children('.custom-file-label').html('選択してください');
                $('#preview').remove();
                $('.custom-file-input').val('');
            })

            //スタイル画像選択
            $(".checkbox").on("click", function () {
                $('.checkbox').prop('checked', false); //  全部のチェックを外す
                $(this).prop('checked', true); //  押したやつだけチェックつける
            });
        </script>
    </main>
    <footer>
        <address>GitHub:<a href="https://github.com/nana0-0">nana0-0</a></address>
        <p><small>coppyright 2021 Tanaka Nanai</small>
        </p>
    </footer>
</div>
{% endblock %}