{% extends "base.html.jinja" %}

{% block headadd %}
<meta http-equiv="refresh" content="30; URL=">
{% endblock %}

{% block content %}
<div class="wrap">
    <header>
        <h1>Neural Style Transfar</h1>
        <span class="header_span">for Deep Learuning</span>
    </header>
    <main>
        <div class="content_flex">
            <section class="card_design">
                <h2>Content Image</h2>
                <img class="status_image" src="/uploads/{{filename}}/1" height="300">
            </section>
            <section class="card_design">
                <h2>Style Image</h2>
                <img class="status_image" src="{{style}}" height="300">
            </section>
        </div>
        <div class="content_flex">
            {% for i in [0] %}
            <section>
                <img src="/uploads/{{filename}}/0" width="350">
                <h3 class="card-title">Iteration{{i}}</h3>
            </section>
            {% endfor %}
            {% for i in [max_iteration//2 - ((max_iteration//2)%20)] %}
            <section>
                <img src="/uploads/{{filename}}/{{i}}" width="350">
                <h3 class="card-title">Iteration{{i}}</h3>
            </section>
            {% endfor %}
            {% for i in [max_iteration] %}
            <section>
                <img src="/uploads/{{filename}}/{{i}}" width="350">
                <h3 class="card-title">Iteration{{i}}</h3>
            </section>
            {% endfor %}
        </div>
    </main>
    <footer>
        <address>GitHub:<a href="https://github.com/nana0-0">nana0-0</a></address>
        <p><small>coppyright 2021 Tanaka Nanai</small>
        </p>
    </footer>
</div>
{% endblock %}